<a href="https://colab.research.google.com/github/MAboElFottouh/Online-P2P-Lending-Market/blob/main/Online_P2P_Lending_Market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas  as pd #Data manipulation
import numpy as np #Data manipulation
import matplotlib.pyplot as plt # Visualization
import seaborn as sns #Visualization

In [6]:
data = pd.read_csv("/content/drive/MyDrive/prosperLoanData.csv")

In [8]:
print('\nNumber of rows and columns in the data set: ',data.shape)
#Lets look into top few rows and columns in the dataset
data.head()

Number of rows and columns in the data set:  (113937, 81)

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

In [27]:
for i in range(data.shape[1]):
  if (data.isna().sum()[i] != 0 ):
      print(data.columns[i] , ' ' , data.isna().sum()[i])

CreditGrade   84984
ClosedDate   58848
BorrowerAPR   25
EstimatedEffectiveYield   29084
EstimatedLoss   29084
EstimatedReturn   29084
ProsperRating (numeric)   29084
ProsperRating (Alpha)   29084
ProsperScore   29084
BorrowerState   5515
Occupation   3588
EmploymentStatus   2255
EmploymentStatusDuration   7625
GroupKey   100596
CreditScoreRangeLower   591
CreditScoreRangeUpper   591
FirstRecordedCreditLine   697
CurrentCreditLines   7604
OpenCreditLines   7604
TotalCreditLinespast7years   697
InquiriesLast6Months   697
TotalInquiries   1159
CurrentDelinquencies   697
AmountDelinquent   7622
DelinquenciesLast7Years   990
PublicRecordsLast10Years   697
PublicRecordsLast12Months   7604
RevolvingCreditBalance   7604
BankcardUtilization   7604
AvailableBankcardCredit   7544
TotalTrades   7544
TradesNeverDelinquent (percentage)   7544
TradesOpenedLast6Months   7544
DebtToIncomeRatio   8554
TotalProsperLoans   91852
TotalProsperPaymentsBilled   91852
OnTimeProsperPayments   91852
ProsperPaymentsLessThanOneMonthLate   91852
ProsperPaymentsOneMonthPlusLate   91852
ProsperPrincipalBorrowed   91852
ProsperPrincipalOutstanding   91852
ScorexChangeAtTimeOfListing   95009
LoanFirstDefaultedCycleNumber   96985

In [57]:
data['ProsperPrincipalOutstanding'].replace(np.nan,0,inplace=True)
data['ProsperPrincipalOutstanding'].astype('float64')
data['ProsperPrincipalBorrowed'].replace(np.nan,0,inplace=True)
data['ProsperPrincipalBorrowed'].astype('float64')
data['ScorexChangeAtTimeOfListing'].replace(np.nan,0,inplace=True)
data['ScorexChangeAtTimeOfListing'].astype('float64')
data['LoanFirstDefaultedCycleNumber'].replace(np.nan,0,inplace=True)
data['LoanFirstDefaultedCycleNumber'].astype('float64')

data['ProsperPaymentsOneMonthPlusLate'].replace(np.nan,0,inplace=True)
data['ProsperPaymentsOneMonthPlusLate'].astype('float64')
data['TotalProsperLoans'].replace(np.nan,0,inplace=True)
data['TotalProsperLoans'].astype('float64')
data['TotalProsperPaymentsBilled'].replace(np.nan,0,inplace=True)
data['TotalProsperPaymentsBilled'].astype('float64')
data['OnTimeProsperPayments'].replace(np.nan,0,inplace=True)
data['OnTimeProsperPayments'].astype('float64')
data['ProsperPaymentsLessThanOneMonthLate'].replace(np.nan,0,inplace=True)
data['ProsperPaymentsLessThanOneMonthLate'].astype('float64')

data['GroupKey'].replace(np.nan,0,inplace=True)

In [66]:
nan_columns = []
nan_value = []
for i in range(data.shape[1]):
  if (data.isna().sum()[i] != 0 ):
      nan_columns.append(data.columns[i])
      nan_value.append(data.isna().sum()[i])
      print(i,' ' , data.columns[i] , ' ' , data.isna().sum()[i],' ', data[data.columns[i]].dtypes)

3   CreditGrade   84984   object
6   ClosedDate   58848   object
7   BorrowerAPR   25   float64
10   EstimatedEffectiveYield   29084   float64
11   EstimatedLoss   29084   float64
12   EstimatedReturn   29084   float64
13   ProsperRating (numeric)   29084   float64
14   ProsperRating (Alpha)   29084   object
15   ProsperScore   29084   float64
17   BorrowerState   5515   object
18   Occupation   3588   object
19   EmploymentStatus   2255   object
20   EmploymentStatusDuration   7625   float64
25   CreditScoreRangeLower   591   float64
26   CreditScoreRangeUpper   591   float64
27   FirstRecordedCreditLine   697   object
28   CurrentCreditLines   7604   float64
29   OpenCreditLines   7604   float64
30   TotalCreditLinespast7years   697   float64
33   InquiriesLast6Months   697   float64
34   TotalInquiries   1159   float64
35   CurrentDelinquencies   697   float64
36   AmountDelinquent   7622   float64
37   DelinquenciesLast7Years   990   float64
38   PublicRecordsLast10Years   697   float64
39   PublicRecordsLast12Months   7604   float64
40   RevolvingCreditBalance   7604   float64
41   BankcardUtilization   7604   float64
42   AvailableBankcardCredit   7544   float64
43   TotalTrades   7544   float64
44   TradesNeverDelinquent (percentage)   7544   float64
45   TradesOpenedLast6Months   7544   float64
46   DebtToIncomeRatio   8554   float64

In [68]:
for i in range(len(nan_columns)):

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32